{% extends "wrapper.html" %}
{% load staticfiles %}

{% block content %}
  {% csrf_token %}
  {% for post in posts %}
    <section id="entity_section" class="entity_section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="entity_wrapper">
                <div class="entity_title">
                    <h1><a href="/posts/get/{{ post.id }}" target="_self">{{ post.post_title }}</a></h1>
                </div>
                <!-- entity_title -->

                <div class="entity_meta">
                    <a href="#">{{ post.post_date }}</a>, by: <a href="#">Автор поста</a>
                </div>
                <!-- entity_meta -->

                <div class="entity_social">
                    <a href="/posts/addlike/{{ post.id }}/" class="icons-sm sh-ic"><i class="fa fa-share-alt"></i><b>{{ post.post_likes }}</b>
                        <span class="share_ic">Likes</span>
                    </a>
                    <a href="/posts/addunlike/{{ post.id }}/" class="icons-sm sh-ic"><i class="fa fa-share-alt"></i><b>{{ post.post_unlikes }}</b>
                        <span class="share_ic">Unlikes</span>
                    </a>
                    <span>
                        <a href="single.html" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                    </span>
                </div>

                <div class="entity_content">
                    <p>{{ post.post_text }}</p>
                </div>
                <!-- entity_content -->
            </div>
            <!-- entity_wrapper -->
          </div>
          <!-- col-md-12 -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>
    <!-- entity_section -->
  {% endfor %}
{% endblock %}
