{% extends "wrapper.html" %}
{% load static %}

{% block content %}
  {% csrf_token %}
  {% for post in posts %}
    <section id="entity_section" class="entity_section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="entity_wrapper">
                <div class="entity_title">
                    <h1><a href="/posts/get/{{ post.id }}" target="_self">{{ post.post_title }}</a></h1>
                </div>
                <!-- entity_title -->

                <div class="entity_meta">
                    <a>{{ post.post_date }}</a>, by: <a>{{ post.post_author }}</a>
                </div>
                <!-- entity_meta -->

                <div class="entity_social">
                    <a href="/posts/addlike/{{ post.id }}/" class="icons-sm sh-ic"><i class="fa fa-thumbs-up"></i><b>{{ post.post_likes }}</b>
                        <span class="share_ic">Likes</span>
                    </a>
                    <a href="/posts/addunlike/{{ post.id }}/" class="icons-sm sh-ic"><i class="fa fa-thumbs-down"></i><b>{{ post.post_unlikes }}</b>
                        <span class="share_ic">Unlikes</span>
                    </a>
                    <span>
                        <a><i class="fa fa-comments-o"></i><b>4</b>
                            <span class="share_ic">Comments</span>
                        </a>
                    </span>
                </div>

                <div class="entity_content">
                    <p>{{ post.post_text }}</p>
                </div>
                <!-- entity_content -->
            </div>
            <!-- entity_wrapper -->
          </div>
          <!-- col-md-12 -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>
    <!-- entity_section -->
  {% endfor %}
  {% if username %}
    <div class="entity_comments">
        <div class="entity_inner__title header_black">
            <h2>Додати пост</h2>
        </div>
        <!--Entity Title -->

        <div class="entity_comment_from">
            <form action="/posts/addpost/" method="post">
                <div class="form-group comment">
                    {% csrf_token %}
                    {{ form }}
                </div>

                <button type="submit" class="btn btn-submit red">Додати</button>
            </form>
        </div>
        <!--Entity Comments From -->
    </div>
    <!--Entity Comments -->
  {% endif %}
{% endblock %}
