{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Мій блог</title>
</head>
<body>
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="/">Головна</a></li>
      {% if username %}
        <li role="presentation"><a href="/auth/login/">Вийти ({{ username }})</a></li>
      {% else %}
        <li role="presentation"><a href="/auth/login/">Ввійти</a></li>
      {% endif %}
    </ul>
    <hr>
    {% block content %}{% endblock %}
    {% block login %}{% endblock %}
  </div>
  <hr>
  <div class="container">
    &copy; Всі права захищені ;)
  </div>

</body>
</html>
